/* Written by Kyle Randolph for kylerandolph.com */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; 
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000;
  background: #000;
}
html body {
  background-color: #000;
  color: #f4ffff
}

.icon,
h5 {
    color: #007bff;
}


.links a:hover,
.icon:hover {
    background-color: green;
    color: white;
    transition: 0.4s all linear;
}